html {
    background: rgba(0, 0, 0, 0.5) url(shop_background.jpg) no-repeat center center fixed;
    /*image courtesy Jacob Scaife*/
    background-size: cover;
    /* font-family: 'Harry Potter', sans-serif; */
    background-blend-mode: darken;
}

h1 {
    color: white;
}

label {
    color: white;
}

div.details {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr, 2);
}

div.list {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr, 4);
}

#input {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1fr, 2);
    padding: 16px;
}

#input label {
    grid-column: 1 / span 1;
    margin-top: 10px;
}

#input input {
    grid-column: 1 / span 1;
    margin-top: 10px;
}

#input button {
    grid-column: 1 / span 1;
    margin-top: 40px;
}